/* about.css */
/* Authors: Ayse Akin, Shawn Fodor, Drew Malzahn, Henry Paul, Alexandra Smith */

/* MAIN */
img#main {
    width: 40%;
    float: left;
}

section#main {
    margin: auto auto;
    width: 50%;
    padding: 20px 20px 80px 20px;
}

section#main img {
    vertical-align: middle;
    width: 40%;
    border: 1px darkgray solid;
}

article h1 {
    font-family: 'Roboto Slab', serif;
    color: #4f3b26;
    font-size: 3.0em;
}

article h2 {
    font-family: 'Roboto Slab', serif;
    color: #4f3b26;
    font-size: 2em;
}

p {
    font-family: 'Roboto Slab', serif;
    color: #4f3b26;
    padding: 20px 0px 20px 0px;
}

button {
    border: none !important;
    background: transparent;
    font-size: 2.0em;
}

#pictures {
    text-align: center;
}

#pictures p {
    width: 55%;
    text-align: center;
    margin: auto auto;
}

/* END MAIN */

/* RESPONSIVE */

/* Smallest */
@media all and ( max-width: 599px ) 
{
    article h1 { font-size: 2.0em; }
    section#main 
    {
        width: 80%;
    }
    #pictures p {
    width: 50%;
    text-align: center;
    margin: auto auto;
}
}

/* Medium */
@media all and ( min-width: 600px ) and ( max-width: 1023px ) {
{
    article h1 { font-size: 2.5em; }
    section#main 
    {
        width: 60%;
    }

}

/* Largest */
@media all and ( min-width: 1024px ) {
{
    article h1 { font-size: 2.75em; }
}

/* END RESPONSIVE */
