/* about.css */
/* Ayse Akin, Shawn Fodor, Drew Malzahn, Henry Paul, Alexandra Smith */

/* MAIN */
img#main {
    width: 40%;
    float: left;
}

section#main {
    margin: auto auto;
    width: 50%;
    padding: 20px 20px 100px 20px;
}

section#main img {
    vertical-align: middle;
    width: 40%;
    border: 1px darkgray solid;
}

h2 {
    font-family: 'Roboto Slab', serif;
    color: #4f3b26;
    font-size: 3.0em;
}

p {
    font-family: 'Roboto Slab', serif;
    color: #4f3b26;
    padding: 20px 0px 20px 0px;
}

.bbutton {
    float: left;
}

.fbutton {
    float: right;
}

/* END MAIN */

/* RESPONSIVE */

/* Smallest */
@media all and (max-width: 300px) {
    h2 { font-size: 2.0em; }
}

/* Medium */
@media all and (max-width: 800px) and (min-width: 301px) {
    h2 { font-size: 2.5em; }
}


/* Largest */
@media all and (min-width:801px)
{
    h2 { font-size: 2.75em; }
}

/* END RESPONSIVE */

