/* feedback.css */
/* Authors: Ayse Akin, Shawn Fodor, Drew Malzahn, Henry Paul, Alexandra Smith */

/* MAIN */

section#main {
    margin: auto auto;
    width: 50%;
    padding: 20px 20px 100px 20px;
}

form {
    align-items: center;
}

form article {
    display: table-row;
}

form h1 {
    font-family: 'Roboto Slab', serif;
    color: #4f3b26;
    font-size: 1.5em;
    float: left;
    text-align: right;
    padding: 0px 10px 0px 0px;
}

form input {
    width: 20em;
    height: 2em;
    font-size: 1em;
    float: right;
    vertical-align: middle;
    margin: 10px 0px 10px 0px;
}

form select {
    width: 20em;
    height: 2em;
    font-size: 1em;
    font-family: 'Roboto Slab', serif;
    float: right;
    vertical-align: middle;
    margin: 10px 0px 10px 0px;
}

form textarea {
    float: right;
    vertical-align: middle;
    margin: 10px 0px 10px 0px;
}

/* END MAIN */

/* RESPONSIVE */

/* Smallest */
@media all and (max-width: 300px) {\
    #main article h1{
        font-size: 0.5em;
    }
    form select{
        width: 10em;
        height: 1em;
        font-size: 0.5em;
    }
}

/* Medium */
@media all and (max-width: 800px) and (min-width: 301px) { 
    #main article h1{
        font-size: 1.0em;
    }
}


/* Largest */
@media all and (min-width:801px){
    #main article h1{
        font-size: 1.5em;
    }
}

/* END RESPONSIVE */

