/* feedback.css */
/* Authors: Ayse Akin, Shawn Fodor, Drew Malzahn, Henry Paul, Alexandra Smith */

/* MAIN */

section#main {
    margin: auto auto;
    width: 50%;
    padding: 20px 20px 100px 20px;
}

#main h1 {
    font-family: 'Roboto Slab', serif;
    color: #4f3b26;
    font-size: 2.75em;
}

#main p {
    font-family: 'Roboto Slab', serif;
    color: #4f3b26;
}

#main article h2 {
    font-family: 'Roboto Slab', serif;
    color: #4f3b26;
    font-size: 1em;
    padding: 0px 5px 0px 0px;
}

form article {
    display: table-row;
}

form h2 {
    display: table-cell;
    text-align: right;
}

form input {
    width: 20em;
    height: 2em;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    vertical-align: middle;
    margin: 0px 5px 10px 5px;
    padding: 2px 3px;
    display: table-cell;
}

form input[type="submit"] {
    width: 10em;
    font-family: 'Roboto Slab', serif;
    display: table-cell;
}

form select {
    width: 20em;
    height: 2em;
    font-size: 1em;
    font-family: 'Roboto Slab', serif;
    vertical-align: middle;
    margin: 0px 5px 10px 5px;
    display: table-cell;
}

form textarea {
    vertical-align: middle;
    margin: 10px 5px 10px 5px;
    font-size: 1em;
    font-family: 'Roboto Slab', serif;
    padding: 2px 3px;
    display: table-cell;
}

form input[type='submit'] {
    display: table-cell;
}

/* END MAIN */

/* RESPONSIVE */

/* Smallest */
@media all and ( min-width: 0px ) and ( max-width: 599px ) {
    section#main {
        width: 80%;
    }
    #main h1 {
        font-size: 2em;
    }
    #main article h2 {
        font-size: 1em;
    }
    form article {
        display: block:
    }
    form input {
        height: 1.5em;
        font-size: 0.75em;
        width: 10em;
        display: block;
    }
    form select {
        width: 10em;
        height: 1.5em;
        font-size: 0.75em;
        display: block;
    }
    form input[type="submit"] {
        height: 2em;
    }
    form textarea {
        width: 18em;
        font-size: 0.75em;
        display: block;
    }
}

/* Medium */
@media all and ( min-width: 600px ) and ( max-width: 1023px ) {
    section#main {
        width: 70%;
    }
    #main h1 {
        font-size: 2.5em;
    }
    #main article h2 {
        font-size: 1em;
    }
    form article {
        display: block:
    }
    form h2 {
        text-align: inherit;
        display: block;
    }
    form input {
        width: 15em;
        display: block;
    }
    form select {
        width: 15em;
        display: block;
    }
    form textarea {
        width: 20em;
        display: block;
    }
}

/* Largest */
@media all and ( min-width: 1024px ) {
    #main h1 {
        font-size: 2.75em;
    }
    #main article h2 {
        font-size: 1.5em;
    }
}

/* END RESPONSIVE */
