*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

html, body
{
    width: 100%;
}

#logo
{
	max-height: 4%;
	max-width: 4%;
}

@font-face
{
	font-family: coreCircus;
	src: url('../media/corecircus.otf')
}

body 
{
    background-color: #65AD8B;
}

header h1
{
	font-family: coreCircus;
	font-size: 5.5em;
	color: #57c25b;
}

header
{
	background-color: #cc2576;
    box-shadow: 5px 5px 5px gray;
    text-align: center;
}

header>section
{
    margin: auto auto;
}

header>img
{
    padding: 3px 3px 3px 3px;
    /* position: relative;
    float: left;
    vertical-align: middle;
    */
    float: left;
}

header ul
{
    list-style: none;
    display: inline;
}

header li
{
    float:right;
    display: inline;
    padding: 0px 3px 0px 3px;
}

footer
{
    background: #6545d7;
}

footer>nav
{
    margin: auto auto;
    width: 50%;
}

img#main
{
    width: 40%;
    float: left;
}

section#main
{
    margin: auto auto;
    width: 60%;
}

section#main img

h2
{
    font-family: 'Roboto Slab', serif;
    color: #4f3b26;
    font-size: 3.0em;
}

p
{
    font-family: 'Roboto Slab', serif;
    color: #4f3b26;
}

#signup
{
    margin: 0px auto;
    font-size: 4.5em;
    font-family: coreCircus;
    text-align: center;
}

