*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

@font-face
{
	font-family: coreCircus;
	src: url('corecircus.otf')
}

body 
{
    background-color: #33A56E;
}
header>h1
{
	font-family: coreCircus;
	font-size: 5.5em;
	color: #57c25b;
	text-align: center;
}

header nav ul{
    text-align: right;
}
header
{
	background-color: #cc2576;
}

footer
{
    background: salmon;
}

footer>nav
{
    margin: auto auto;
    width: 50%;
}

img#main
{
    width: 70%;
    float: left;
}

section#main
{
    margin: auto auto;
    width: 60%;
}

section#main>article
{
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
}

h2
{
    font-family: 'Roboto Slab', serif;
    color: #4f3b26;
    font-size: 3.0em;
    text-align: left;
}

p
{
    font-family: 'Roboto Slab', serif;
    color: #4f3b26;
}
li{
    list-style: none;
    display: inline;
}

