/* signup.css */
/* Authors: Ayse Akin, Shawn Fodor, Drew Malzahn, Henry Paul, Alexandra Smith */

/* MAIN */

section#main {
    width: 50%;
    margin: auto auto;
}

form {
    display: table;
}

article {
    display: table-row;
}

form p {
    display: table-cell;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    color: #4f3b26;
    padding: 5px 0px 20px 0px;
}

form ul {
    display: table-cell;
    vertical-align: middle;
    list-style: none;
    padding: 0px 0px 0px 5px;
}

form li {
    padding: 3px 3px 3px 3px;
}

fieldset>label
{
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    color: #4f3b26;
    font-size: 3.0em;
}

form li>label {
    font-family: 'Roboto Slab', serif;
    color: #4f3b26;
    padding: 5px 0px 20px 0px;
}

ul#contact {
    display: table;
}

ul#contact label, #contact input {
    display: table-cell;
}

ul#contact input {
    float: right;
}

/* END MAIN */

/* RESPONSIVE */

/* Smallest */
@media all and (max-width: 300px) {
}

/* Medium */
@media all and (max-width: 800px) and (min-width: 301px) { 
}


/* Largest */
@media all and (min-width:801px){
}

/* END RESPONSIVE */
