/* signup.css */
/* Authors: Ayse Akin, Shawn Fodor, Drew Malzahn, Henry Paul, Alexandra Smith */

/* MAIN */
section#main {
    margin: auto auto;
    width: 50%;
    padding: 20px 20px 100px 20px;
}

section#main img {
    width: 40%;
    float: left;
    padding: 5px 10px 5px 10px;
    max-width: 30%;
    min-width: 10%;
}

form ul {
    list-style: none;
    padding: 5px 5px 5px 20px;
}

#smartdevice {
    display: none;
}

#contact {
    display: table;
}

#contact li {
    display: table-row;
}

#contact li>label {
    display:table-cell;
    text-align: right;
}

#contact li>input {
    display:table-cell;
}

article {
    display: block;
}

p, label {
    font-family: 'Roboto Slab', serif;
    color: #4f3b26;
}

article>p {
    font-weight: bold;
}

article label {
    padding: 0px 0px 0px 20px;
}

fieldset>label {
    font-family: 'Roboto Slab', serif;
    color: #4f3b26;
    font-size: 3.0em;
    vertical-align: middle;
}

input[type='text'] {
    margin: 3px 3px 3px 3px;
}
input[type='email'] {
    margin: 3px 3px 3px 3px;
}

/* END MAIN */

/* RESPONSIVE */

/* Smallest */
@media all and (max-width: 300px) {
    article h1 { font-size: 2.0em; }
    section#main
    {
        width: 90%;
        padding: 0px 0px 0px 0px;
    }
}

/* Medium */
@media all and (max-width: 800px) and (min-width: 301px) {
    article h1 { font-size: 2.5em; }
    section#main
    {
        width: 70%;
    }
}

/* Largest */
@media all and (min-width:801px) and (max-width: 1500px)
{
    article h1 { font-size: 2.75em; }
}
/* END RESPONSIVE */
